<header class="continer-fluid ">
    <div  class="header-top">
        <div class="container">
            <div class="row col-det">
                <div class="col-lg-5 d-none d-lg-block">
                    <ul class="ulleft">
                        <li>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            e-Pradaan@gmail.com
                            <span>|</span></li>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            (+91) 9988776655</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 folouws">
                  
                    <ul class="ulright">
                       <li> <small>Follow Us </small>:</li>
                        <li>
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 d-none d-md-block col-md-6 btn-bhed">
                    <button class="btn btn-sm btn-default" routerLink="/ngo" routerLinkActive="current">NGO</button> 
                    <button class="btn btn-sm btn-success" routerLink="/fundRaiser" routerLinkActive="current">FundRaiser</button>  
                    <button class="btn btn-sm btn-default">Donate</button>
                </div>
            </div>
        </div>
    </div>
    <div id="menu-jk" class="header-bottom">
        <div class="container">
            <div class="row nav-row">
                <div class="col-lg-3 col-md-12 logo">
                    <a href="index.html">
                        <img src="assets/images/logo.jpeg" alt="">
                        <a data-toggle="collapse" data-target="#menu" href="#menu"><i class="fas d-block d-lg-none  small-menu fa-bars"></i></a>
                    </a>

                </div>
                <div id="menu" class="col-lg-9 col-md-12 d-none d-lg-block nav-col">

                            <ul class="navbad">
                                <li class="nav-item active">
                                    <a class="nav-link" routerLink="/home" routerLinkActive="current">Home
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/aboutus" routerLinkActive="current">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/services" routerLinkActive="current">Services</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/gallery" routerLinkActive="current">Gallery</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="blog.html">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"  routerLink="/contactus" routerLinkActive="current">Contact US</a>
                                </li>




                            </ul>


                </div>
            </div>
        </div>
    </div> 
</header>
  
                 
  
          
    
